<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Marl</title>
</head>
<body>
    <h1 id="ted">Something here</h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, 
        dolore repudiandae delectus ipsam et magni blanditiis qui voluptas odit, 
        accusamus fuga asperiores hic nemo nisi velit consequatur harum quia officia?</p>
        <hr>
    <div>
    <article>
        <h2>Something also here</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam adipisci quibusdam atque quos hic, 
            ex nesciunt odit consectetur dignissimos laborum in molestias! Aliquid, culpa illo hic 
            tempore quae voluptates amet!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corporis, non nobis eaque repellendus ullam id voluptatem possimus aliquid aperiam a, laborum vel eum? Incidunt provident quaerat repellat repellendus voluptatibus?
            Ad, cumque nulla. Temporibus consequuntur nisi maxime sit nihil cumque ratione incidunt sed a qui earum, similique animi eum minima, rem itaque quaerat tempore! Soluta nostrum natus autem nesciunt dolor.
            Aut velit consectetur voluptas laborum? Odio, aperiam a cupiditate nihil veniam veritatis sunt rerum nulla quod libero dicta quasi quibusdam voluptatibus, molestias voluptates officiis labore explicabo corrupti! Suscipit, minus qui.
            Facere id doloremque reprehenderit aperiam minus, incidunt dignissimos quis autem accusantium ipsam. Aliquid soluta vel animi temporibus eveniet, voluptatibus molestiae veritatis dolores quas cumque non facere ullam aperiam assumenda mollitia.
            Beatae, quod soluta aut reprehenderit expedita iste temporibus doloribus minima voluptatum, quae, sit hic consectetur minus? Distinctio velit sint ipsa tempora. Vero necessitatibus atque sit vitae id ab fugit earum!</p>
    </article>
    <div>
        <address>23 PlaceHolder StreetRoad</address>
        <address>Apartment Unit 1234</address>
        <address>Green Dolphan, New Florida</address>
    </div>
    <br>
    <br>
    <a class="kax" href="/">Back</a>
</div>


</body>
</html>