<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Rexx</title>
</head>
<body>
    <h1 class="">Nine Nein Neyen Nyun Niynn</h1>
    <p class="something">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, expedita. Voluptas quasi dolore, voluptates voluptatem nam sint ipsum 
    repellendus mollitia optio quos corrupti iusto? Obcaecati esse voluptas nulla perspiciatis iure!
    Facilis amet ipsa quam, delectus quasi voluptatem blanditiis et alias voluptatibus eveniet in corrupti! 
    Fuga fugiat voluptatum eum deserunt quia ipsum a amet eveniet ullam neque, dignissimos cumque. Odio, optio.
    Dolore voluptatibus tempore inventore dignissimos. Ab recusandae nulla repellat sint soluta eveniet praesentium 
    quidem labore expedita molestiae eum quasi sit deserunt, veniam aliquam magni fugiat ut reiciendis? Odio, ab beatae!</p>
    
    <div>
        <ul>
            <li>Origin</li>
            <li>Offense</li>
            <li>Shield</li>
            <li>Giga</li>
            <li>Mace</li>
            <li>Lady</li>
            <li>Chomp</li>
            <li>Animal</li>
            <li>Transport</li>
            
        </ul>
    </div>
    <div>
        <footer>This is a footer</footer>
    </div>


    <a class="kax" href="/">Back</a>

</body>
</html>