<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Valmitic</title>
</head>
<body>

    <h1 class="fez">Bven</h1>
    
        <div id="nav">
            <ul>
                <li><a href="/marl">Hmm.....</a></li>
                <li><a href="/rexx">Nine Giants Shoefoot</a></li>
                <li><a href="/timmeh">Playce Holden</a></li>
                <!-- <li><a href="/">Nihfvalg Market Place</a></li> -->
            </ul>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Temporibus accusantium quae ab modi debitis, quaerat porro excepturi officia sint itaque nam. 
                Temporibus commodi nihil eum ratione adipisci neque enim ab! Light and Dark Novel they're the same
            </p>
        
                
</body>
</html>